body {
    background-color: black;
}

/* === TYPOGRAPHY === */
@font-face {
    font-family: "StarJedi";
    src: url(../font/Starjedi.ttf) format("truetype");
}
@font-face {
    font-family: "StarMaster";
    src: url(../font/Starlogo.ttf) format("truetype");
    font-weight: 100;
}

h1 {
    font-family: "StarMaster", sans-serif;
    color: rgb(228, 205, 0);
    width: 100%;
    text-align: center;
    font-size: 96px;
    margin: 0 0 0 0;
}

h2 {
    font-family: "StarMaster", sans-serif;
    color: rgb(228, 205, 0);
    width: 100%;
    text-align: center;
    font-size: 24px;
}
.h2-top {
    margin-top: 40px;
    margin-bottom: -38px;
}
.h2-bot {
    margin-top: -2px;
}

p {
    font-family: "StarJedi", sans-serif;
    color: white;
    font-size: 22px;
    transition: .5s ease-in-out;
}

button {
    font-family: "StarJedi", sans-serif;
    color: rgb(228, 205, 0);
    width: 100%;
    text-align: center;
    font-size: 16px;
}

/* === DESKTOP BREAKPOINT === */
.swiper-container {
    width: 900px;
    padding-top: 40px;
    padding-bottom: 50px;

    & .swiper-wrapper {

        & .swiper-slide {
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;

            & video {
                max-width: 100%;
                border-radius: 20px;
                border: solid 3px white;
                transition: .5s ease-in-out;
            }
            & video:hover {
                border: solid 3px rgb(228, 205, 0);
            }
            & video:hover + p {
                color: rgb(228, 205, 0);
            }
        
            & img {
                width: 100%;
                scale: 1;
                border-radius: 20px;
                transform: translateY(0px);
                border: solid 3px transparent;
                transition: .5s ease-in-out;
            }
            & img:hover {
                scale: 1.2;
                transform: translateY(-21px);
                /* transform: translateY(-43px); */
            }
            & img:hover + .space {
                border: solid 3px rgb(228, 205, 0);
            }
            & img:hover + .space + p {
                color: rgb(228, 205, 0);
            }

            & .space {
                position: absolute;
                border: solid 3px white;
                z-index: -1;
            }
        }
    }

    & .swiper-button-next {
        background-image: url(/assets/img/next.png);
    }
    & .swiper-button-prev {
        background-image: url(/assets/img/prev.png);
    }
}

.bg {
    position: fixed;
    top: 0;
    z-index: -10;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    & div {
        width: 100vw;
        height: 100%;
        animation: stars 60s linear infinite;

        & img {
            width: 100%;
            height: 100vh;
        }
    }
}

.hand {
    z-index: 100;
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: -45px;
    margin-left: -50px;
    pointer-events: none;
}

.radio-wrap {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .img-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .radio {
            width: 120px;
            cursor: pointer;
            animation: radio .55s ease-in-out infinite;
            animation-play-state: paused;
        }
    
        & p {
            margin-top: 0px;
            margin-bottom: -20px;
            font-size: 12px;
            color: rgb(191, 115, 39);
        }
    }

    & .content-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        
    
        & .btn-wrap {
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            & button {
                width: 100%;
                border-radius: 10px;
                padding: 6px 0;
            }
    
            & #offCantina, #offWaves, #offEseerin {
                position: absolute;
                color: black;
                background-color: rgba(228, 205, 0, .4);
                border: solid 3px rgba(228, 205, 0, 0);
                visibility: visible;
            }
    
            & #onCantina, #onWaves, #onEseerin {
                position: absolute;
                color: rgba(228, 205, 0, 1);
                background-color: rgba(228, 205, 0, 0);
                border: solid 3px rgba(228, 205, 0, 1);
                visibility: hidden;
            }
        }
    }
}

/* === MOBILE BREAKPOINT === */
@media only screen and (max-width: 600px) {
    
    .swiper-container {
        width: 100%;
        padding-top: 150px;
        padding-bottom: 50px;
    
        & .swiper-wrapper {
    
            & .swiper-slide {
                width: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                & video {
                    max-width: 100%;
                    border-radius: 20px;
                    border: solid 3px white;
                }
            
                & img {
                    width: 100%;
                    scale: 1;
                    transition: .5s ease-in-out;
                    border-radius: 20px;
                    transform: translateY(0px);
                    border: solid 3px transparent;
                }
                & img:hover {
                    scale: 1.2;
                    transform: translateY(-21px);
                }
    
                & .space {
                    position: absolute;
                    border: solid 3px white;
                    z-index: -1;
                }
    
                p {
                    font-family: "StarJedi", sans-serif;
                    color: rgb(228, 205, 0);
                    font-size: 22px;
                }
            }
        }
    }

    .bg {
        position: fixed;
        z-index: -10;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    
        & div {
            width: 100vw;
            height: 100vh;
            animation: stars 60s linear infinite;
    
            & img {
                height: 100vh;
            }
        }
    }

    .hand {
        visibility: hidden;
    }

    .radio-wrap {
    position: absolute;
    top: 200px;
    right: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;

    & .radio {
        width: 100px;
        cursor: pointer;
        animation: radio .55s ease-in-out infinite;
        animation-play-state: paused;
    }

    & p {
        margin-top: -4px;
        font-size: 10px;
        color: rgb(151, 100, 29);
    }

        & .content-wrap {
            display: flex;
            flex-direction: column;
            gap: 40px;
            

            & .btn-wrap {
                margin-top: 10px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
        
                & button {
                    width: 100%;
                    border-radius: 10px;
                    padding: 4px 0;
                    font-size: 16px;
                }
        
                & #off {
                    position: absolute;
                    color: black;
                    background-color: rgba(228, 205, 0, .4);
                    border: solid 3px rgba(228, 205, 0, 0);
                    visibility: hidden;
                }
        
                & #on {
                    position: absolute;
                    color: rgba(228, 205, 0, 1);
                    background-color: rgba(228, 205, 0, 0);
                    border: solid 3px rgba(228, 205, 0, 1);
                    visibility: visible;
                }
            }
        }
    }
}

/* === KEYFRAME ANIMATIONS === */
@keyframes stars {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes radio {
    0% {
        scale: 1;
        transform: rotateZ(0deg);
    }
    50% {
        scale: 1.1;
        transform: rotateZ(10deg);
    }
    100% {
        scale: 1;
        transform: rotateZ(0deg);
    }
}
